.header {
    display: flex;
    align-items: center;
    line-height: 82px;
}

.header__search--input {
    height: 40px;
    line-height: 82px;
    margin: 0 100px;
    padding: 10px 30px;
    width: 80%;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.header-nav {
    margin-left: auto;
}

.header-nav__list {
    list-style: none;
    display: flex;
}

.header-nav__item--button {
    background-color: #000;
    color: #ffffff;
    border: none;
    margin-right: 50px;
    font-size: 15px;
    cursor: pointer;
}

.header-nav__item {
    margin-right: 50px;
    text-decoration: none;
    color: #ffffff;
}

.header-nav__item--sell {
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
}

.change-address {
    margin: 50px auto;
    width: 40%;
}

.change-address__header {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}

.form__group {
    margin-bottom: 40px;
    height: auto;
}

.form__group--title {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}

.form__group--content input {
    width: 100%;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    height: 40px;
}

.form__button--submit {
    width: 100%;
    background-color: #FF5555;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}

.login__link {
    width: 100%;
    text-align: center;
}

.login__button {
    color: #0073CC;
    text-decoration: none;
    padding: 30px;
}