.header {
    display: flex;
    align-items: center;
    line-height: 82px;
}

.header__search--input {
    height: 40px;
    line-height: 82px;
    margin: 0 100px;
    padding: 10px 30px;
    width: 80%;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.header-nav {
    margin-left: auto;
}

.header-nav__list {
    list-style: none;
    display: flex;
}

.header-nav__item--button {
    background-color: #000;
    color: #ffffff;
    border: none;
    margin-right: 50px;
    font-size: 15px;
    cursor: pointer;
}

.header-nav__item {
    margin-right: 50px;
    text-decoration: none;
    color: #ffffff;
}

.header-nav__item--sell {
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
}

.page-tag {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5F5F5F;
}

.tag {
    text-decoration: none;
    color: #5F5F5F;
    font-weight: bold;
    font-size: 20px;
    margin-left: 70px;
}

.tag:first-child {
    margin-left: 150px;
}

.tag.active {
    color: #FF0000;
}

.total-unread-count {
    display: inline-block;
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.profile-content {
    width: 100%;
}

.user {
    width: 60%;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-img img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.default-profile {
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-name h3 {
    font-size: 25px;
}

.profile__edit {
    color: #FF5555;
    text-decoration: none;
    border: 2px solid #FF5555;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
}

.tag-content {
    margin: 80px 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.item__group {
    display: flex;
    flex-direction: column;
}

.item__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__img {
    position: relative;
    display: inline-block;
}

.unread-count {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}