.content {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #868686;
}

.sidebar__title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
}

.trading-item {
    width: 80%;
    background-color: #EEEFEB;
    border-radius: 5px;
    border: none;
    margin: 0 auto 30px;
    text-align: center;
}

.trading-item a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding: 8px 16px;
}

.chat-container {
    width: 80%;
}

.user-data {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5F5F5F;
    padding: 0 30px;
}

.user__img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.default-profile {
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user__name {
    font-size: 30px;
    font-weight: bold;
}

.trading__button {
    margin-left: auto;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FF8282;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 140px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.trading__button:hover {
    background-color: #FF5555;
}

.items {
    height: 180px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5F5F5F;
}

.items img {
    background-color: #868686;
}

.item__data {
    margin-left: 30px;
}

.item--name {
    font-size: 40px;
    font-weight: bold;
    height: 40px;
}

.item--price {
    font-size: 30px;
    font-weight: 400;
    height: 30px;
    margin-bottom: 50px;
}

.messages {
    padding: 0 30px;
    width: 100%;
    height: 330px;
    overflow-y: auto;
}

.chat__messages--left {
    width: 50%;
    float: left;
    text-align: left;
    margin-right: 30px;
}

.chat__messages--right {
    width: 50%;
    float: right;
    text-align: right;
}

.chat__message--user-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 15px;
}

.user-name--right {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    margin-right: 15px;
}

.user-img--right,
.default-img--right {
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block
}

.chat__message--content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 8px 12px;
    max-width: 100%;
}

.chat__edit-form {
    flex-direction: column;
    gap: 8px;
}

.chat__message--text {
    background-color: transparent;
    border: none;
    padding: 4px 0;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    font-size: 15px;
}

.chat__message--image {
    margin-top: 6px;
}

.chat__message--image img {
    max-width: auto;
    height: auto;
    border-radius: 6px;
    display: block;
}

.chat__buttons-row {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 4px;
}

.edit,
.delete {
    color: #5F5F5F;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 3px 5px;
    cursor: pointer;
} 

.chat__message--user-left {
    display: flex;
    align-items: center;
    margin: 10px 15px;
}

.user-name--left {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    margin-left: 15px;
}

.user-img--left,
.default-img--left {
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block
}


.chat__clear {
    clear: both;
}

.send-form {
    position: fixed;
    padding: 15px 30px;
    height: 80px;
    width: 80%;
    bottom: 0;
    left: 20%;
    margin-bottom: 15px;
}

.message--send {
    display: flex;
    align-items: center;
}

.send--text {
    width: 80%;
    height: 40px;
    padding: 10px 10px;

}

.send--img {
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    background-color: #FFFFFF;
    width: 100px;
    height: 40px;
    padding: 8px 5px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

.send-button {
    border: none;
    background-color: #FFFFFF;
}

.send-button img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.error-message {
    color: red;
    width: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDFCE6;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 400px;
    height: auto;
}

.modal__title {
    border-bottom: 1px solid #000000;
    font-weight: normal;
    font-size: 25px;
    margin: 0;
    padding: 20px 16px;
}

.form-rating {
    margin: 0;
}

.rating--content {
    margin: 0;
    padding: 10px 16px;
    color: #868686;
}

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    width: 400px;
    justify-content: space-around;
    margin: 10px 0;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
}

.rating--input {
    display: none;
}

.rating--label {
    cursor: pointer;
}

.rating--label img {
    width: 50px;
    height: 50px;
}

.rating--label:hover img,
.rating--label:hover ~ .rating--label img {
    content: url('/items/Star_filled.png');
}

/* 選択時：自分と左側の星を塗りつぶし */
.rating--input:checked ~ .rating--label img {
    content: url('/items/Star_filled.png');
}

.form-rating--button {
    margin: 0 10px 10px 0;
    text-align: right;
}

.button {
    background-color: #FF8282;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    padding: 8px 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #FF5555;
}